

<div class="container">
  <h1>Precio de monedas</h1>
  <input type="text" class="bg-dark text-center text-light my-4 border-o rounde-0 form-control" (keyup)="searchCoin()"
    [(ngModel)]="searchText">
  <table class="table table-dark">
    <thead>
      <tr>
        <th *ngFor="let title of titles">{{title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let moneda of filteredCoints; let i = index">
        <td class="text-muted">
          {{i + 1}}
        </td>
        <td>
          <img src={{moneda.image}} alt="Imagen de moneda" class="" style="width: 2rem;">
          <span class="ms-3">{{moneda.name}}</span>
          <span class="text-muted text-uppercase ms-2">{{moneda.symbol}}</span>
        </td>
        <td>${{moneda.current_price}}</td>
        <td [ngClass]="moneda.price_change_percentage_24h > 0 ? 'text-success' : 'text-danger'">
          {{moneda.price_change_percentage_24h.toLocaleString()}}</td>
        <td>{{moneda.total_volume.toLocaleString()}}</td>
      </tr>
    </tbody>
  </table>
</div>